In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

import matplotlib
 
df = pd.read_excel('Online Retail.xlsx', sheetname='Online Retail')

/anaconda3/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [2]:
#create a new column of revenue
df["Revenue"]=df["UnitPrice"]*df["Quantity"]

In [3]:
df['InvoiceNo']=df['InvoiceNo'].astype(str)

In [4]:
df['CustomerID']=df['CustomerID'].astype(str)

In [5]:
df['Description']=df['Description'].astype(str)

In [6]:
Initial_size=df.shape[0]
Initial_size

541909

In [7]:
# this is the new version
df_dropC_2=df.drop(df[df['InvoiceNo'].str.startswith('C', na=False)].index)

In [8]:
df_dropC_2.shape[0]

532621

In [9]:
# create a new DataFrame with no invoice starting wich C and no 0 unit price
# turns out no data entry satisfy both conditions
df_NoC_and_0unitprice=df.drop(df[(df['InvoiceNo'].str.startswith('C', na=False)) & (df['UnitPrice']==0)].index)
df_NoC_and_0unitprice.shape[0]

541909

In [10]:
# create a new DataFrame with no CustomerID and no 0 unit price
# 539434 remaining
df_0unitprice_and_blankcustomerid=df_NoC_and_0unitprice.drop(df_NoC_and_0unitprice[((df_NoC_and_0unitprice['UnitPrice']==0) & (df_NoC_and_0unitprice['CustomerID']=='nan'))].index)
df_0unitprice_and_blankcustomerid.shape[0]

539434

In [11]:
# the following a fews are just number of each individual condition
df[df['UnitPrice']==0].index

Int64Index([   622,   1970,   1971,   1972,   1987,   1988,   2024,   2025,
              2026,   2406,
            ...
            535333, 535334, 535335, 535336, 536908, 536981, 538504, 538505,
            538554, 538919],
           dtype='int64', length=2515)

In [12]:
df[df['InvoiceNo'].str.startswith('C', na=False)].index

Int64Index([   141,    154,    235,    236,    237,    238,    239,    240,
               241,    939,
            ...
            540141, 540142, 540176, 540422, 540448, 540449, 541541, 541715,
            541716, 541717],
           dtype='int64', length=9288)

In [13]:
df[df['CustomerID']=='nan'].index

Int64Index([   622,   1443,   1444,   1445,   1446,   1447,   1448,   1449,
              1450,   1451,
            ...
            541531, 541532, 541533, 541534, 541535, 541536, 541537, 541538,
            541539, 541540],
           dtype='int64', length=135080)

In [14]:
df[(df['InvoiceNo'].str.startswith('C', na=False)) & (df['UnitPrice']==0)].index

Int64Index([], dtype='int64')

In [15]:
df_NoC_and_0unitprice[((df_NoC_and_0unitprice['UnitPrice']==0) & (df_NoC_and_0unitprice['CustomerID']=='nan'))].index

Int64Index([   622,   1970,   1971,   1972,   1987,   1988,   2024,   2025,
              2026,   2406,
            ...
            535333, 535334, 535335, 535336, 536908, 536981, 538504, 538505,
            538554, 538919],
           dtype='int64', length=2475)

In [16]:
(df_NoC_and_0unitprice['CustomerID']=='nan')

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
541879    False
541880    False
541881    False
541882    False
541883    False
541884    False
541885    False
541886    False
541887    False
541888    False
541889    False
541890    False
541891    False
541892    False
541893    False
541894    False
541895    False
541896    False
541897    False
541898    False
541899    False
541900    False
541901    False
541902    False
541903    False
541904    False
541905    False
541906    False
541907    False
541908    False
Name: CustomerID, Length: 541909, dtype: bool

In [17]:
df_0unitprice_and_blankcustomerid.shape[0]

539434

In [18]:
df_0unitprice_and_blankcustomerid.iloc[292083]

InvoiceNo                                 562616
StockCode                                  23197
Description    SKETCHBOOK MAGNETIC SHOPPING LIST
Quantity                                      12
InvoiceDate                  2011-08-08 12:28:00
UnitPrice                                   1.45
CustomerID                               14748.0
Country                           United Kingdom
Revenue                                     17.4
Name: 293761, dtype: object

In [19]:
df_nopostage=df_0unitprice_and_blankcustomerid.drop(df_0unitprice_and_blankcustomerid[df_0unitprice_and_blankcustomerid['Description'].str.contains('postage', regex=False, case=False)].index)

In [20]:
df_nopostage.shape[0]

537475

In [21]:
df_cleansed=df_nopostage

In [22]:
#df_cleansed.to_csv(r'Online retail_cleansed.csv', index = None, header=True)

In [23]:
Europe=["Austria", "Belgium", "Channel Islands", "Cyprus", "Czech Republic", "Denmark", "EIRE", "Finland", "France", "Germany", "Greece", "Iceland", "Italy", "Lithuania", "Malta", "Netherlands", "Norway", "Poland", "Portugal", "Spain", "Sweden","Switzerland"]
Middle_East=["Bahrain", "Israel", "Lebanon", "Saudi Arabia", "United Arab Emirates"]
America = ["Brazil","Canada","USA"]
Asia_Pacific = ["Japan", "Hong Kong","Singapore", "Australia"]
UK = ["United Kingdom"]
Others = ["RSA", "Unspecified","European Community"]
All_Countries = Europe + Middle_East + America + Asia_Pacific + UK + Others
All_Countries_No_UK = Europe + Middle_East + America + Asia_Pacific + Others

In [24]:
df_cleansed.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Revenue'],
      dtype='object')

In [25]:
# Get a dataframe of all itmes' average unitprice in UK
df_UK_mean_unitprice = df_cleansed.groupby(["Country"]).get_group("United Kingdom").groupby("StockCode").mean()["UnitPrice"]

In [26]:
df_UK_mean_unitprice

StockCode
10002              1.139655
10080              0.410909
10120              0.210000
10125              0.877160
10133              0.652917
10135              1.420571
11001              1.897156
15030              0.290000
15034              0.374672
15036              1.077880
15039              1.239589
16008              0.136949
16010              0.120000
16011              0.210000
16012              0.210000
16014              0.396744
16015              0.488333
16016              0.844583
16033              0.120000
16043              0.120000
16045              0.042807
16046              0.850000
16048              0.358793
16049              0.240000
16052              0.620000
16054              0.130000
16216              0.154545
16218              0.285932
16219              0.539684
16225              1.465545
                   ...
90214R             0.825200
90214S             0.825122
90214T             0.782727
90214U             0.290000
90214V             0.854286
90214W             0.726000
90214Y             0.752500
90214Z             0.782000
AMAZONFEE       7324.784706
B              -3687.353333
BANK CHARGES     202.855162
C2                49.166667
CRUK             495.839375
D                 66.406351
DCGS0003           2.485000
DCGS0004          16.630000
DCGS0069          15.790000
DCGS0070          12.720000
DCGS0076          16.130000
DCGSSBOY           3.104545
DCGSSGIRL          3.133077
M                271.691757
PADS               0.000750
S                 50.404603
gift_0001_10       8.330000
gift_0001_20      16.708889
gift_0001_30      25.075714
gift_0001_40      33.566667
gift_0001_50      41.890000
m                  2.550000
Name: UnitPrice, Length: 3928, dtype: float64

In [27]:
# Price_level

price_level = pd.read_csv('outside data/price level.csv')

price_level=price_level.set_index('Country Name')

price_level

                      Price level
Country Name
Australia                1.489749
Austria                  1.155721
Bahrain                  0.560498
Belgium                  1.156468
Brazil                   0.879409
Canada                   1.253022
Channel Islands               NaN
Cyprus                   0.971120
Czech Republic           0.754146
Denmark                  1.390742
EIRE                     1.155914
Finland                  1.248435
France                   1.169604
Germany                  1.096453
Greece                   0.991392
Hong Kong                0.701644
Iceland                  1.165565
Israel                   1.102474
Italy                    1.054676
Japan                    1.346426
Lebanon                  0.556542
Lithuania                0.628231
Malta                    0.798097
Netherlands              1.162242
Norway                   1.620584
Poland                   0.607891
Portugal                 0.866169
RSA                      0.657468
Saudi Arabia             0.489870
Singapore                0.708764
Spain                    0.992735
Sweden                   1.361975
Switzerland              1.573685
United Arab Emirates     0.692800
United Kingdom           1.131238
USA                      1.000000
Unspecified              0.000000
European Community       0.000000

In [28]:
#create a price dataframe for all countries and all data frame
df_price_matrix = df_UK_mean_unitprice.to_frame().copy()
df_price_matrix.columns = ["United Kingdom"]
uk_factor = price_level.loc["United Kingdom"][0]

for country in All_Countries_No_UK:
    country_factor = price_level.loc[country][0]/uk_factor
    df_price_matrix[country]=df_price_matrix["United Kingdom"]*country_factor

In [29]:
df_price_matrix

,United Kingdom,Austria,Belgium,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,Finland,France,...,Brazil,Canada,USA,Japan,Hong Kong,Singapore,Australia,RSA,Unspecified,European Community
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.139655,1.164320,1.165072,NaN,0.978346,0.759757,1.401090,1.164515,1.257724,1.178307,...,0.885952,1.262345,1.007440,1.356444,0.706864,0.714038,1.500833,0.662359,0.0,0.0
10080,0.410909,0.419802,0.420073,NaN,0.352748,0.273935,0.505171,0.419872,0.453479,0.424845,...,0.319435,0.455146,0.363238,0.489074,0.254864,0.257450,0.541134,0.238817,0.0,0.0
10120,0.210000,0.214545,0.214683,NaN,0.180276,0.139998,0.258174,0.214581,0.231756,0.217122,...,0.163251,0.232608,0.185637,0.249947,0.130251,0.131573,0.276553,0.122051,0.0,0.0
10125,0.877160,0.896144,0.896723,NaN,0.753005,0.584764,1.078379,0.896294,0.968034,0.906909,...,0.681892,0.971592,0.775399,1.044017,0.544053,0.549575,1.155149,0.509799,0.0,0.0
10133,0.652917,0.667047,0.667478,NaN,0.560501,0.435270,0.802694,0.667159,0.720559,0.675060,...,0.507568,0.723207,0.577170,0.777117,0.404968,0.409077,0.859838,0.379471,0.0,0.0
10135,1.420571,1.451316,1.452254,NaN,1.219501,0.947032,1.746447,1.451559,1.567743,1.468750,...,1.104332,1.573504,1.255767,1.690798,0.881101,0.890043,1.870777,0.825626,0.0,0.0
11001,1.897156,1.938215,1.939467,NaN,1.628628,1.264749,2.332359,1.938539,2.093701,1.961498,...,1.474822,2.101395,1.677061,2.258040,1.176699,1.188641,2.498400,1.102614,0.0,0.0
15030,0.290000,0.296276,0.296468,NaN,0.248953,0.193330,0.356525,0.296326,0.320044,0.299835,...,0.225442,0.321220,0.256356,0.345165,0.179871,0.181696,0.381906,0.168546,0.0,0.0
15034,0.374672,0.382780,0.383028,NaN,0.321640,0.249777,0.460620,0.382844,0.413488,0.387379,...,0.291264,0.415007,0.331205,0.445943,0.232388,0.234746,0.493412,0.217756,0.0,0.0
15036,1.077880,1.101208,1.101919,NaN,0.925314,0.718574,1.325143,1.101392,1.189548,1.114436,...,0.837929,1.193920,0.952832,1.282918,0.668548,0.675333,1.419480,0.626456,0.0,0.0
15039,1.239589,1.266417,1.267235,NaN,1.064135,0.826379,1.523948,1.266629,1.368011,1.281630,...,0.963639,1.373038,1.095781,1.475388,0.768847,0.776650,1.632438,0.720440,0.0,0.0
16008,0.136949,0.139913,0.140003,NaN,0.117565,0.091298,0.168365,0.139936,0.151137,0.141594,...,0.106462,0.151692,0.121061,0.163000,0.084942,0.085804,0.180351,0.079594,0.0,0.0
16010,0.120000,0.122597,0.122676,NaN,0.103015,0.079999,0.147528,0.122618,0.132432,0.124070,...,0.093286,0.132919,0.106078,0.142827,0.074429,0.075185,0.158030,0.069743,0.0,0.0
16011,0.210000,0.214545,0.214683,NaN,0.180276,0.139998,0.258174,0.214581,0.231756,0.217122,...,0.163251,0.232608,0.185637,0.249947,0.130251,0.131573,0.276553,0.122051,0.0,0.0
16012,0.210000,0.214545,0.214683,NaN,0.180276,0.139998,0.258174,0.214581,0.231756,0.217122,...,0.163251,0.232608,0.185637,0.249947,0.130251,0.131573,0.276553,0.122051,0.0,0.0
16014,0.396744,0.405331,0.405593,NaN,0.340588,0.264492,0.487756,0.405398,0.437847,0.410200,...,0.308423,0.439456,0.350717,0.472214,0.246078,0.248576,0.522480,0.230585,0.0,0.0
16015,0.488333,0.498902,0.499224,NaN,0.419214,0.325550,0.600356,0.498985,0.538925,0.504895,...,0.379623,0.540905,0.431680,0.581226,0.302886,0.305960,0.643095,0.283816,0.0,0.0
16016,0.844583,0.862862,0.863420,NaN,0.725039,0.563046,1.038329,0.863006,0.932082,0.873227,...,0.656567,0.935507,0.746601,1.005243,0.523848,0.529164,1.112247,0.490866,0.0,0.0
16033,0.120000,0.122597,0.122676,NaN,0.103015,0.079999,0.147528,0.122618,0.132432,0.124070,...,0.093286,0.132919,0.106078,0.142827,0.074429,0.075185,0.158030,0.069743,0.0,0.0
16043,0.120000,0.122597,0.122676,NaN,0.103015,0.079999,0.147528,0.122618,0.132432,0.124070,...,0.093286,0.132919,0.106078,0.142827,0.074429,0.075185,0.158030,0.069743,0.0,0.0
16045,0.042807,0.043733,0.043762,NaN,0.036748,0.028538,0.052627,0.043741,0.047242,0.044259,...,0.033278,0.047415,0.037841,0.050950,0.026551,0.026820,0.056373,0.024879,0.0,0.0
16046,0.850000,0.868396,0.868957,NaN,0.729689,0.566657,1.044988,0.868541,0.938060,0.878828,...,0.660778,0.941507,0.751389,1.011690,0.527207,0.532558,1.119381,0.494014,0.0,0.0
16048,0.358793,0.366558,0.366795,NaN,0.308009,0.239191,0.441099,0.366620,0.395964,0.370962,...,0.278921,0.397419,0.317168,0.427044,0.222539,0.224798,0.472501,0.208528,0.0,0.0
16049,0.240000,0.245194,0.245353,NaN,0.206030,0.159997,0.295055,0.245235,0.264864,0.248140,...,0.186573,0.265837,0.212157,0.285654,0.148859,0.150369,0.316060,0.139486,0.0,0.0
16052,0.620000,0.633418,0.633827,NaN,0.532244,0.413326,0.762227,0.633524,0.684232,0.641027,...,0.481979,0.686746,0.548072,0.737939,0.384551,0.388454,0.816489,0.360340,0.0,0.0
16054,0.130000,0.132814,0.132899,NaN,0.111600,0.086665,0.159822,0.132836,0.143468,0.134409,...,0.101060,0.143995,0.114918,0.154729,0.080632,0.081450,0.171199,0.075555,0.0,0.0
16216,0.154545,0.157890,0.157992,NaN,0.132671,0.103029,0.189998,0.157917,0.170556,0.159787,...,0.120141,0.171183,0.136616,0.183944,0.095856,0.096829,0.203524,0.089821,0.0,0.0
16218,0.285932,0.292120,0.292309,NaN,0.245461,0.190618,0.351524,0.292169,0.315555,0.295630,...,0.222280,0.316714,0.252760,0.340323,0.177348,0.179148,0.376549,0.166182,0.0,0.0
16219,0.539684,0.551364,0.551720,NaN,0.463296,0.359783,0.663487,0.551456,0.595596,0.557988,...,0.419543,0.597784,0.477074,0.642345,0.334736,0.338133,0.710720,0.313661,0.0,0.0
16225,1.465545,1.497263,1.498230,NaN,1.258108,0.977013,1.801737,1.497513,1.617375,1.515249,...,1.139294,1.623318,1.295522,1.744326,0.908995,0.918220,1.930003,0.851764,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90214R,0.825200,0.843059,0.843604,NaN,0.708399,0.550124,1.014499,0.843200,0.910691,0.853187,...,0.641499,0.914037,0.729466,0.982172,0.511825,0.517020,1.086721,0.479600,0.0,0.0
90214S,0.825122,0.842980,0.843524,NaN,0.708332,0.550072,1.014403,0.843121,0.910605,0.853106,...,0.641438,0.913951,0.729397,0.982080,0.511777,0.516971,1.086618,0.479555,0.0,0.0
90214T,0.782727,0.799667,0.800184,NaN,0.671938,0.521809,0.962283,0.799801,0.863818,0.809274,...,0.608481,0.866992,0.691921,0.931620,0.485482,0.490409,1.030788,0.454916,0.0,0.0
90214U,0.290000,0.296276,0.296468,NaN,0.248953,0.193330,0.356525,0.296326,0.320044,0.299835,...,0.225442,0.321220,0.256356,0.345165,0.179871,0.181696,0.381906,0.168546,0.0,0.0
90214V,0.854286,0.872775,0.873338,NaN,0.733368,0.569514,1.050257,0.872920,0.942790,0.883259,...,0.664110,0.946254,0.755178,1.016791,0.529865,0.535243,1.125025,0.496505,0.0,0.0
90214W,0.726000,0.741712,0.742192,NaN,0.623240,0.483992,0.892543,0.741836,0.801214,0.750622,...,0.564382,0.804158,0.641775,0.864102,0.450297,0.454867,0.956083,0.421946,0.0,0.0
90214Y,0.752500,0.768786,0.769283,NaN,0.645989,0.501658,0.925122,0.768914,0.830459,0.778021,...,0.584983,0.833511,0.665200,0.895643,0.466733,0.471470,0.990981,0.437348,0.0,0.0
90214Z,0.782000,0.798924,0.799440,NaN,0.671314,0.521324,0.961389,0.799058,0.863015,0.808522,...,0.607916,0.866187,0.691278,0.930755,0.485031,0.489953,1.029830,0.454493,0.0,0.0
AMAZONFEE,7324.784706,7483.310982,7488.144593,NaN,6288.018102,4883.106701,9005.074484,7484.562142,8083.632791,7573.205336,...,5694.184400,8113.337958,6475.014940,8718.131263,4543.152165,4589.260040,9646.144410,4257.112759,0.0,0.0
B,-3687.353333,-3767.156688,-3769.589965,NaN,-3165.436998,-2458.193721,-4533.224217,-3767.786532,-4069.363335,-3812.410202,...,-2866.496514,-4084.317146,-3259.572654,-4388.774778,-2287.057975,-2310.269037,-4855.943782,-2143.063524,-0.0,-0.0
BANK CHARGES,202.855162,207.245445,207.379308,NaN,174.142583,135.234473,249.389698,207.280095,223.870968,209.735010,...,157.696744,224.693633,179.321340,241.442991,125.819653,127.096581,267.143714,117.897977,0.0,0.0
C2,49.166667,50.230754,50.263199,NaN,42.207505,32.777220,60.445394,50.239152,54.260336,50.834158,...,38.221474,54.459728,43.462697,58.519325,30.495319,30.804812,64.748492,28.575317,0.0,0.0
CRUK,495.839375,506.570553,506.897757,NaN,425.657148,330.553958,609.583856,506.655248,547.208361,512.655805,...,385.458542,549.219204,438.315594,590.159702,307.541289,310.662487,652.980041,288.178317,0.0,0.0
D,66.406351,67.843547,67.887369,NaN,57.007046,44.270147,81.639825,67.854890,73.286053,68.658528,...,51.623362,73.555359,58.702356,79.038403,41.188126,41.606140,87.451752,38.594899,0.0,0.0
DCGS0003,2.485000,2.538781,2.540421,NaN,2.133267,1.656638,3.055054,2.539206,2.742446,2.569279,...,1.931804,2.752524,2.196708,2.957706,1.541306,1.556948,3.272542,1.444264,0.0,0.0
DCGS0004,16.630000,16.989914,17.000888,NaN,14.276152,11.086478,20.444886,16.992755,18.352869,17.194008,...,12.927928,18.420311,14.700705,19.793418,10.314654,10.419336,21.900354,9.665238,0.0,0.0
DCGS0069,15.790000,16.131734,16.142154,NaN,13.555048,10.526488,19.412192,16.134431,17.425845,16.325519,...,12.274923,17.489880,13.958156,18.793630,9.793649,9.893044,20.794143,9.177036,0.0,0.0
DCGS0070,12.720000,12.995292,13.003686,NaN,10.919582,8.479856,15.637941,12.997465,14.037793,13.151400,...,9.888349,14.089378,11.244315,15.139644,7.889501,7.969570,16.751203,7.392774,0.0,0.0
DCGS0076,16.130000,16.479093,16.489737,NaN,13.846923,10.753150,19.830187,16.481848,17.801069,16.677050,...,12.539235,17.866483,14.258711,19.198306,10.004532,10.106067,21.241895,9.374641,0.0,0.0
DCGSSBOY,3.104545,3.171735,3.173784,NaN,2.665121,2.069662,3.816721,3.172266,3.426177,3.209836,...,2.413430,3.438767,2.744378,3.695103,1.925575,1.945117,4.088433,1.804340,0.0,0.0
DCGSSGIRL,3.133077,3.200884,3.202952,NaN,2.689614,2.088682,3.851798,3.201420,3.457664,3.239335,...,2.435610,3.470370,2.769599,3.729062,1.943271,1.962993,4.126007,1.820922,0.0,0.0
M,271.691757,277.571832,277.751121,NaN,233.235891,181.124756,334.017259,277.618240,299.839038,280.906204,...,211.209343,300.940865,240.171999,323.373928,168.515123,170.225362,357.795899,157.905316,0.0,0.0
PADS,0.000750,0.000766,0.000767,NaN,0.000644,0.000500,0.000922,0.000766,0.000828,0.000775,...,0.000583,0.000831,0.000663,0.000893,0.000465,0.000470,0.000988,0.000436,0.0,0.0
S,50.404603,51.495482,51.528744,NaN,43.270222,33.602497,61.967310,51.504092,55.626523,52.114079,...,39.183828,55.830935,44.557017,59.992746,31.263142,31.580427,66.378754,29.294797,0.0,0.0
gift_0001_10,8.330000,8.510282,8.515779,NaN,7.150953,5.553239,10.240884,8.511704,9.192988,8.612513,...,6.475625,9.226770,7.363612,9.914562,5.166631,5.219066,10.969931,4.841337,0.0,0.0
gift_0001_20,16.708889,17.070510,17.081536,NaN,14.343875,11.139070,20.541872,17.073364,18.439931,17.275572,...,12.989255,18.507692,14.770442,19.887313,10.363584,10.468763,22.004245,9.711087,0.0,0.0
gift_0001_30,25.075714,25.618414,25.634962,NaN,21.526441,16.716858,30.828029,25.622697,27.673560,25.926159,...,19.493507,27.775252,22.166607,29.845706,15.553056,15.710902,33.022672,14.573827,0.0,0.0
gift_0001_40,33.566667,34.293132,34.315282,NaN,28.815565,22.377397,41.266787,34.298865,37.044175,34.705083,...,26.094254,37.180302,29.672499,39.951837,20.819516,21.030811,44.204564,19.508708,0.0,0.0
gift_0001_50,41.890000,42.796602,42.824245,NaN,35.960795,27.926191,51.499475,42.803757,46.229806,43.310703,...,32.564696,46.399688,37.030218,49.858465,25.982012,26.245700,55.165716,24.346170,0.0,0.0
m,2.550000,2.605188,2.606871,NaN,2.189067,1.699971,3.134964,2.605624,2.814180,2.636483,...,1.982334,2.824521,2.254167,3.035070,1.581622,1.597673,3.358142,1.482042,0.0,0.0

In [30]:
df_price_matrix["USA"][16045]

0.03784084983795573

In [31]:
df_price_matrix.to_csv(r'price_matrix.csv', index = True, header=True)

In [32]:
df_price_matrix.index

Index([         10002,          10080,          10120,          10125,
                10133,          10135,          11001,          15030,
                15034,          15036,
       ...
          'DCGSSGIRL',            'M',         'PADS',            'S',
       'gift_0001_10', 'gift_0001_20', 'gift_0001_30', 'gift_0001_40',
       'gift_0001_50',            'm'],
      dtype='object', name='StockCode', length=3928)

In [33]:
new_groupby = df_cleansed.groupby("Country")
country_list = []
for country in All_Countries:
    total_country_revenue = 0
    
    #groupby
    country_groupby = new_groupby.get_group(country)
    
    #stockcode
    stock_array = country_groupby["StockCode"].unique()
    
    #
    for stockcode in stock_array:
        #[0]
        if stockcode in df_price_matrix.index:
            no_of_product = country_groupby[country_groupby["StockCode"]==stockcode]["Quantity"].sum()
            #no_of_product = df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()[country][stockcode[0]]
            price_of_product = df_price_matrix[country][stockcode]
            total_country_revenue+=no_of_product*price_of_product
        else:
            no_of_product = country_groupby[country_groupby["StockCode"]==stockcode]["Quantity"].sum()
            price_of_product = country_groupby["UnitPrice"].mean()
            total_country_revenue+=no_of_product*price_of_product
    country_list.append([country, total_country_revenue])

In [34]:
country_list

[['Austria', 11020.178205304348],
 ['Belgium', 46433.739577917164],
 ['Channel Islands', nan],
 ['Cyprus', 13338.13661524794],
 ['Czech Republic', 563.9517596970952],
 ['Denmark', 28181.717777537724],
 ['EIRE', 350619.11104213074],
 ['Finland', 25344.4416473867],
 ['France', 232252.8495022321],
 ['Germany', 250288.58496270922],
 ['Greece', 5144.414280321846],
 ['Iceland', 5849.489898009069],
 ['Italy', 17650.74386552144],
 ['Lithuania', 1140.4451721418181],
 ['Malta', 1697.6414920953455],
 ['Netherlands', 288477.5034252367],
 ['Norway', 59310.29674016842],
 ['Poland', 4886.981890626505],
 ['Portugal', 25792.22811183694],
 ['Spain', 55251.38560410722],
 ['Sweden', 54018.38274148021],
 ['Switzerland', 93342.43074521114],
 ['Bahrain', 308.66628947836716],
 ['Israel', 9909.562724479958],
 ['Lebanon', 1002.4164134285387],
 ['Saudi Arabia', 73.872514304877],
 ['United Arab Emirates', 1517.9209287181986],
 ['Brazil', 1170.5555523203584],
 ['Canada', 6705.388848788833],
 ['USA', 1867.9100043168082],
 ['Japan', 57089.4430351081],
 ['Hong Kong', 7597.753944966976],
 ['Singapore', 6998.208548757769],
 ['Australia', 254461.66821449544],
 ['United Kingdom', 10549662.523424992],
 ['RSA', 854.4170439649765],
 ['Unspecified', 0.0],
 ['European Community', 0.0]]

In [35]:
my_df = pd.DataFrame(country_list)

my_df.to_csv('price_matrix_increase_revenue.csv', index=False, header=False)

In [36]:
df_cleansed.groupby("Country").get_group("USA")["StockCode"].unique()

array([22722, 22979, 84987, 22720, 22993, 47580, 22989, 22900, 22128,
       '47590B', 22965, 22088, 22990, 22129, 21067, 22149, 22147, 22301,
       22970, 22423, 37501, 37500, 22551, 21915, 22619, 22138, 21524,
       21668, 21671, 21669, 22090, 22668, '47590A', 22974, 22972, 22326,
       21231, 21232, 22949, 21974, '84509A', 37448, 22649, 22951, 21976,
       22417, 21212, 22938, 84991, 22199, 22848, 22204, 22360, '47559B',
       22399, 22922, 23156, 23159, 22027, 22029, 22983, 22712, '16161P',
       21498, 21499, 22046, 22048, 22050, 22708, 22706, 21122, 21123,
       21891, 23166, 23165, 23167, 48185, 23372, 23367, 23513, 23518,
       23514, 22139, 23078, 23077, 21058, 21059, 22492, 22738, 22734,
       22737, 23434, 22736, 22739, 22959, 22818, 23014, 23229, 23289,
       23291, 23290, 23292, 21210, 23353, 23349, 23351, 23354, 23311,
       23309, 23293, 23255, 23256, 23254, 20750, 22449, 21577, 37495,
       21121, 21124, 23173, 22962, 22963, 23328, 22907, 23295, 23296,
       23515, 23516, 23512, 23366, 22961, 23294, 23245, 23174, 23175,
       23344, '85099B', 23209, '79191C', 23392, 84828, 23158, 21507,
       21508, 21242, 21243, 21245, 21238, 21239, '84997A', '84997C',
       '84997B', '84997D', 23303, 23305, 23304, 20677, 20674, 20675,
       20676, 20975, 22083, 21240], dtype=object)

In [37]:
# this is the total number of a product sold in a country
df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()["USA"][20674]

16

In [38]:
for country in All_Countries:
    print(country)
    revenue_total = 0
    new_groupby = df_cleansed.groupby("Country").get_group(country).groupby("StockCode")
    for stockcode in new_groupby:
        #stockcode[0]
        no_of_product = df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()[country][stockcode[0]]
        price_of_product = df_price_matrix[country][stockcode[0]]
        revenue_total+=no_of_product*price_of_product
    print(revenue_total)
        
    
    
    
    #no_of_product = df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()["USA"][20674]
    #price_of_product =

Austria
11020.178205304343
Belgium
46433.73957791721
Channel Islands
nan
Cyprus
13338.136615247937
Czech Republic
563.9517596970951
Denmark
28181.71777753772
EIRE

IndexError: index out of bounds

In [ ]:
for i in df_cleansed.groupby("Country").get_group("USA").groupby("StockCode"):
    print(i[0])
    print("\n\n\n\n\n")

In [ ]:
for i in df_cleansed.groupby("Country").get_group(country).groupby("StockCode"):
    print(i[0])

# finding 4-quadrant products

In [ ]:
df_cleansed.groupby("Country")["UnitPrice"].mean()
1

In [ ]:
df_cleansed.groupby(["StockCode"])["Quantity"].sum().quantile(.75)

In [ ]:
df_cleansed.groupby(["StockCode"])["Quantity"].sum().quantile(.25)

In [ ]:
df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()

In [ ]:
df_fahad = df_cleansed.groupby(["Country","StockCode"])["Quantity"].sum()

In [ ]:
df_fahad.to_csv(r'fahad_quantity.csv', index = True, header=True)